<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Название: {{ object.name }}</h1>
    <p>Описание: {{ object.description }}</p>
    <h3>Цена: {{ object.price }} {{ object.currency }}</h3>
    <button type="button" onclick="getSessionId({{ object.id }})">Buy</button>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe_public_key = `{{ stripe_public_key }}`;
    var stripe = Stripe(stripe_public_key);

    function getSessionId(productId) {
        fetch(`/buy/${ productId }`, {})
            .then(response => response.json())
            .then(data => {
                console.log('succ', data)
                return stripe.redirectToCheckout({sessionId: data.session_id});
            })
            .catch((error) => {
                console.log('err', error);
            })
    }
</script>
</html>